<%- include('../../includes/head.ejs') %>
<body>
<div class="backdrop"></div>
<a class="backtop fas fa-arrow-up" href="#"></a>

<%- include('../../includes/navbar.ejs') %>

<!--=====================================
            COMPARE PART START
=======================================-->
<section class="inner-section compare-part" style="margin-top: 30px;">
    <div class="container">
        <div class="row"  style="margin-bottom: 50px;">
            <div class="col-lg-9 " >
                <div class="account-card" style="padding: 10px;">
                    <div class="account-title">
                        <h4>Elmakon
                            <br>
                            <p style="font-size: 12px;font-weight: 400;text-transform: none;">Toshkent shahar, Yunusobod tuman, Beruniy ko'chasi, 17b</p>
                        </h4>
                        <a href="#" class="btn btn-outline">Do'konga o'tish</a>
                    </div>
                    <div class="account-content">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                <tr>
                                    <!-- <th scope="col">Serial</th> -->
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <!-- <th scope="col">vendor</th> -->
                                    <!-- <th scope="col">status</th> -->
                                    <th scope="col">shopping</th>
                                    <th scope="col">action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!-- <td class="table-serial"><h6>01</h6></td> -->
                                    <td class="table-image"><img src="/images/product/01.jpg" style="width: 50px;height: 50px;" alt="product"></td>
                                    <td class="table-name"><p>Kollagen va fulleren (antioksidant) bilan gidrogel ko'z yamoqlari 60 dona - 30 juft</p></td>
                                    <td class="table-price"><h6>11 000 000<small>so'm</small></h6></td>
                                    <!-- <td class="table-vendor"><a href="#">fresh greeny</a></td> -->
                                    <!-- <td class="table-status"><h6 class="stock-out">stock out</h6></td> -->
                                    <td class="table-shop">
                                        <!-- <button class="product-add" title="Add to Cart">add to cart</button> -->
                                        <div class="product-action" style="display: flex;">
                                            <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                            <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                            <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                        </div>
                                    </td>
                                    <td class="table-action" style="padding: 10px;">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="wish" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td class="table-serial"><h6>01</h6></td> -->
                                    <td class="table-image"><img src="/images/product/01.jpg" style="width: 50px;height: 50px;" alt="product"></td>
                                    <td class="table-name"><p>Kollagen va fulleren (antioksidant) bilan gidrogel ko'z yamoqlari 60 dona - 30 juft</p></td>
                                    <td class="table-price"><h6>11 000 000<small>so'm</small></h6></td>
                                    <!-- <td class="table-vendor"><a href="#">fresh greeny</a></td> -->
                                    <!-- <td class="table-status"><h6 class="stock-out">stock out</h6></td> -->
                                    <td class="table-shop">
                                        <!-- <button class="product-add" title="Add to Cart">add to cart</button> -->
                                        <div class="product-action" style="display: flex;">
                                            <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                            <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                            <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                        </div>
                                    </td>
                                    <td class="table-action" style="padding: 10px;">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="wish" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 card">
                <div class="chekout-coupon" style="width: auto; margin:25px 0 5px">
                    <button class="coupon-btn">Sizda kupon kod bormi?</button>
                    <form class="coupon-form">
                        <input type="text" placeholder="Kupon kodni kiriting">
                        <button type="submit"><span>Tasdiqlash</span></button>
                    </form>
                </div>
                <div class="checkout-charge" style="width: auto;margin: initial;">
                    <ul>
                        <li style="font-size: small;">
                            <span>Yetkazib beruvchi:</span>
                            <span>Elmakon</span>
                        </li>
                        <li style="font-size: small;">
                            <span>mahsulot narxi:</span>
                            <span>11 000 000 so'm</span>
                        </li>
                        <li style="font-size: small;">
                            <span>Muddatli to'lov:</span>
                            <span>16 000 000/12oy</span>
                        </li>
                        <li style="font-size: small;">
                            <span>Chegirma:</span>
                            <span>1 000 000</span>
                        </li>
                        <li >
                            <span style="font-size: small;">Jami to'lov<small></small></span>
                            <span style="font-size: small;">10 000 000 so'm</span>
                        </li>
                        <li>
                            <a href="/user/checkout" class="btn btn-inline" style="width: 100%;padding: 10px 32px;">Rasmiylashitirish</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-9 " >
                <div class="account-card" style="padding: 10px;">
                    <div class="account-title">
                        <h4>Mediapark
                            <br>
                            <p style="font-size: 12px;font-weight: 400;text-transform: none;">Toshkent shahar, Yunusobod tuman, Beruniy ko'chasi, 17b</p>
                        </h4>
                        <a href="#" class="btn btn-outline">Do'konga o'tish</a>
                    </div>
                    <div class="account-content">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                <tr>
                                    <!-- <th scope="col">Serial</th> -->
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <!-- <th scope="col">vendor</th> -->
                                    <!-- <th scope="col">status</th> -->
                                    <th scope="col">shopping</th>
                                    <th scope="col">action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!-- <td class="table-serial"><h6>01</h6></td> -->
                                    <td class="table-image"><img src="/images/product/01.jpg" style="width: 50px;height: 50px;" alt="product"></td>
                                    <td class="table-name"><p>Kollagen va fulleren (antioksidant) bilan gidrogel ko'z yamoqlari 60 dona - 30 juft</p></td>
                                    <td class="table-price"><h6>11 000 000<small>so'm</small></h6></td>
                                    <!-- <td class="table-vendor"><a href="#">fresh greeny</a></td> -->
                                    <!-- <td class="table-status"><h6 class="stock-out">stock out</h6></td> -->
                                    <td class="table-shop">
                                        <!-- <button class="product-add" title="Add to Cart">add to cart</button> -->
                                        <div class="product-action" style="display: flex;">
                                            <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                            <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                            <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                        </div>
                                    </td>
                                    <td class="table-action" style="padding: 10px;">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="wish" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td class="table-serial"><h6>01</h6></td> -->
                                    <td class="table-image"><img src="/images/product/01.jpg" style="width: 50px;height: 50px;" alt="product"></td>
                                    <td class="table-name"><p>Kollagen va fulleren (antioksidant) bilan gidrogel ko'z yamoqlari 60 dona - 30 juft</p></td>
                                    <td class="table-price"><h6>11 000 000<small>so'm</small></h6></td>
                                    <!-- <td class="table-vendor"><a href="#">fresh greeny</a></td> -->
                                    <!-- <td class="table-status"><h6 class="stock-out">stock out</h6></td> -->
                                    <td class="table-shop">
                                        <!-- <button class="product-add" title="Add to Cart">add to cart</button> -->
                                        <div class="product-action" style="display: flex;">
                                            <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                            <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                            <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                        </div>
                                    </td>
                                    <td class="table-action" style="padding: 10px;">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="wish" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>



            </div>
            <div class="col-lg-3 card">
                <div class="chekout-coupon" style="width: auto; margin:25px 0 5px">
                    <button class="coupon-btn">Sizda kupon kod bormi?</button>
                    <form class="coupon-form">
                        <input type="text" placeholder="Kupon kodni kiriting">
                        <button type="submit"><span>Tasdiqlash</span></button>
                    </form>
                </div>
                <div class="checkout-charge" style="width: auto;margin: initial;">
                    <ul>
                        <li style="font-size: small;">
                            <span>Yetkazib beruvchi:</span>
                            <span>Mediapark</span>
                        </li>
                        <li style="font-size: small;">
                            <span>mahsulot narxi:</span>
                            <span>11 000 000 so'm</span>
                        </li>
                        <li style="font-size: small;">
                            <span>Muddatli to'lov:</span>
                            <span>16 000 000/12oy</span>
                        </li>
                        <li style="font-size: small;">
                            <span>Chegirma:</span>
                            <span>1 000 000</span>
                        </li>
                        <li >
                            <span style="font-size: small;">Jami to'lov<small></small></span>
                            <span style="font-size: small;">10 000 000 so'm</span>
                        </li>
                        <li>
                            <a href="/user/checkout" class="btn btn-inline" style="width: 100%;padding: 10px 32px;">Rasmiylashitirish</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-5">
                    <button class="btn btn-outline">
                        Load more items
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            COMPARE PART END
=======================================-->


<!--=====================================
            NEWSLETTER PART START
=======================================-->
<section class="news-part" style="background: url(/images/newsletter.jpg) no-repeat center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Get 20% Discount for Subscriber</h2>
                    <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="Enter Your Email Address">
                    <button><span><i class="icofont-ui-email"></i>Subscribe</span></button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            NEWSLETTER PART END
=======================================-->


<!--=====================================
            INTRO PART START
=======================================-->
<section class="intro-part">
    <div class="container">
        <div class="row intro-content">
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="intro-content">
                        <h5>free home delivery</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                    <div class="intro-content">
                        <h5>instant return policy</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="intro-content">
                        <h5>quick support system</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="intro-content">
                        <h5>secure payment way</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            INTRO PART END
=======================================-->


<!--=====================================
             FOOTER PART START
=======================================-->
<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <a class="footer-logo" href="#">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                    <p class="footer-desc">Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam assumenda dolor perspiciatis sit ipsum dolor amet.</p>
                    <ul class="footer-social">
                        <li><a class="icofont-facebook" href="#"></a></li>
                        <li><a class="icofont-twitter" href="#"></a></li>
                        <li><a class="icofont-linkedin" href="#"></a></li>
                        <li><a class="icofont-instagram" href="#"></a></li>
                        <li><a class="icofont-pinterest" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget contact">
                    <h3 class="footer-title">contact us</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="icofont-ui-email"></i>
                            <p>
                                <span>support@greeny.com</span>
                                <span>carrer@greeny.com</span>
                            </p>
                        </li>
                        <li>
                            <i class="icofont-ui-touch-phone"></i>
                            <p>
                                <span>+120 279 532 13</span>
                                <span>+120 279 532 14</span>
                            </p>
                        </li>
                        <li>
                            <i class="icofont-location-pin"></i>
                            <p>1Hd- 50, 010 Avenue, NY 90001 United States</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">quick Links</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Best Seller</a></li>
                            <li><a href="#">New Arrivals</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Carrer</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Download App</h3>
                    <p class="footer-desc">Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi autem obcaecati minus ducimus totam reprehenderit exercitationem!</p>
                    <div class="footer-app">
                        <a href="#"><img src="/images/google-store.png" alt="google"></a>
                        <a href="#"><img src="/images/app-store.png" alt="app"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copytext">&copy;  All Copyrights Reserved by <a target="_blank" href="https://themeforest.net/user/mironcoder">Mironcoder</a></p>
                    <div class="footer-card">
                        <a href="#"><img src="/images/payment/jpg/01.jpg" alt="payment"></a>
                        <a href="#"><img src="/images/payment/jpg/02.jpg" alt="payment"></a>
                        <a href="#"><img src="/images/payment/jpg/03.jpg" alt="payment"></a>
                        <a href="#"><img src="/images/payment/jpg/04.jpg" alt="payment"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--=====================================
              FOOTER PART END
=======================================-->


<!--=====================================
            JS LINK PART START
=======================================-->
<!-- VENDOR -->
<script src="/vendor/bootstrap/jquery-1.12.4.min.js"></script>
<script src="/vendor/bootstrap/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/vendor/countdown/countdown.min.js"></script>
<script src="/vendor/niceselect/nice-select.min.js"></script>
<script src="/vendor/slickslider/slick.min.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>

<!-- CUSTOM -->
<script src="/js/nice-select.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/accordion.js"></script>
<script src="/js/venobox.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/main.js"></script>
<!--=====================================
            JS LINK PART END
=======================================-->
</body>
</html>