<%- include('../../includes/head.ejs') %>
<body>
<div class="backdrop"></div>
<a class="backtop fas fa-arrow-up" href="#"></a>

<%- include('../../includes/navbar.ejs') %>

<!--=====================================
            PRODUCT VIEW START
=======================================-->
<div class="modal fade" id="product-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close icofont-close" data-bs-dismiss="modal"></button>
            <div class="product-view">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="view-gallery">
                            <div class="view-label-group">
                                <label class="view-label new">new</label>
                                <label class="view-label off">-10%</label>
                            </div>
                            <ul class="preview-slider slider-arrow">
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                            </ul>
                            <ul class="thumb-slider">
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                                <li><img src="/images/product/01.jpg" alt="product"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="view-details">
                            <h3 class="view-name">
                                <a href="product-video.html">existing product name</a>
                            </h3>
                            <div class="view-meta">
                                <p>SKU:<span>1234567</span></p>
                                <p>BRAND:<a href="#">radhuni</a></p>
                            </div>
                            <div class="view-rating">
                                <i class="active icofont-star"></i>
                                <i class="active icofont-star"></i>
                                <i class="active icofont-star"></i>
                                <i class="active icofont-star"></i>
                                <i class="icofont-star"></i>
                                <a href="product-video.html">(3 reviews)</a>
                            </div>
                            <h3 class="view-price">
                                <del>$38.00</del>
                                <span>$24.00<small>/per kilo</small></span>
                            </h3>
                            <p class="view-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit non tempora magni repudiandae sint suscipit tempore quis maxime explicabo veniam eos reprehenderit fuga</p>
                            <div class="view-list-group">
                                <label class="view-list-title">tags:</label>
                                <ul class="view-tag-list">
                                    <li><a href="#">organic</a></li>
                                    <li><a href="#">vegetable</a></li>
                                    <li><a href="#">chilis</a></li>
                                </ul>
                            </div>
                            <div class="view-list-group">
                                <label class="view-list-title">Share:</label>
                                <ul class="view-share-list">
                                    <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                    <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                    <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                    <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                                </ul>
                            </div>
                            <div class="view-add-group">
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add to cart</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                            <div class="view-action-group">
                                <a class="view-wish wish" href="#" title="Add Your Wishlist">
                                    <i class="icofont-heart"></i>
                                    <span>add to wish</span>
                                </a>
                                <a class="view-compare" href="compare.html" title="Compare This Item">
                                    <i class="fas fa-random"></i>
                                    <span>Compare This</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================
            PRODUCT VIEW END
=======================================-->

<!--=====================================
                   PRODUCT VIEW START
       =======================================-->
<div class="modal fade" id="product-pay">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close icofont-close" data-bs-dismiss="modal"></button>
            <div class="product-view">
                <div class="row">
                    <div class="col-12">
                        <div class="details-content">
                            <h3 class="details-name" style="text-transform: none;"><a href="#">Muddatli to'lovga xarid qilish</a></h3>


                            <div class="details-meta">
                                <p style="text-transform: none;">Muddatli to'lovga sotib olish<span></span></p>
                                <p style="text-transform: none;"><span>Boshlang'ich to'lov 0%</span></p>
                                <p style="text-transform: none;">O'zingizga ma'qul kelgan oyni va taklifni tanlang<a href="#"></a></p>
                            </div>

                            <!-- <h6 class="details-desc">Product list | Delete | add save list = texnomart.uz</h6> -->

                            <div class="details-list-group">
                                <!-- <label class="details-list-title">O'lchami:</label> -->
                                <ul class="details-tag-list">
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">12</a></li>
                                    <li><a href="#">16</a></li>
                                    <li class="active"><a href="#" class="active">18 oyga</a></li>
                                </ul>
                            </div>
                            <div class="table-scroll">
                                <table class="table-list">

                                    <tbody>
                                    <tr style="display: flex;
                                                align-items: center;justify-content: space-between;">
                                        <!-- <td class="table-serial"><h6>01</h6></td> -->
                                        <td class="table-image"><img src="/images/product/01.jpg" style="height: 60px ; width: 60px;" alt="product"></td>
                                        <td class="table-name"><h6 style="font-size: 12px;">Name</h6>

                                        <td class="table-price"><h6 style="font-size: 14px;">1 200 000<small>so'm/12oy</small></h6> </td>

                                        <td class="table-status"><h6 class="stock-out"><b>Jami:</b> 4 608 000 so'm</h6></td>

                                        <td class=" table-action" style="display: flex;">
                                            <!-- <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                            <a class="view" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                            <a class="view" href="#" title="Add to Wishlist"><i class="fa fa-random"></i></a> -->
                                            <a href="javascript:void(0)" class="btn btn-outline" style="padding: 6px 20px;margin-right: 5px;">
                                                <!-- <i class="fas fa-eye"></i> -->
                                                <span style="font-size: 14px;text-transform: none;">Tanlash</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr style="display: flex;
                                                align-items: center;justify-content: space-between;">
                                        <!-- <td class="table-serial"><h6>01</h6></td> -->
                                        <td class="table-image"><img src="/images/product/01.jpg" style="height: 60px ; width: 60px;" alt="product"></td>
                                        <td class="table-name"><h6 style="font-size: 12px;">Name</h6>
                                        <td class="table-price"><h6 style="font-size: 14px;">1 200 000<small>so'm/12oy</small></h6> </td>
                                        <td class="table-status"><h6 class="stock-out"><b>Jami:</b> 4 608 000 so'm</h6></td>

                                        <td class=" table-action" style="display: flex;">
                                            <!-- <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                            <a class="view" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                            <a class="view" href="#" title="Add to Wishlist"><i class="fa fa-random"></i></a> -->
                                            <a href="javascript:void(0)" class="btn btn-outline" style="padding: 6px 20px;margin-right: 5px;">
                                                <!-- <i class="fas fa-eye"></i> -->
                                                <span style="font-size: 14px;text-transform: none;">Tanlash</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr style="display: flex;
                                                align-items: center;justify-content: space-between;">
                                        <!-- <td class="table-serial"><h6>01</h6></td> -->
                                        <td class="table-image"><img src="/images/product/01.jpg" style="height: 60px ; width: 60px;" alt="product"></td>
                                        <td class="table-name"><h6 style="font-size: 12px;">Name</h6>

                                        <td class="table-price"><h6 style="font-size: 14px;">1 200 000<small>so'm/12oy</small></h6> </td>
                                        <td class="table-status"><h6 class="stock-out"><b>Jami:</b> 4 608 000 so'm</h6></td>

                                        <td class=" table-action" style="display: flex;">
                                            <!-- <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                            <a class="view" href="#" title="Add to Wishlist"><i class="icofont-heart"></i></a>
                                            <a class="view" href="#" title="Add to Wishlist"><i class="fa fa-random"></i></a> -->
                                            <a href="javascript:void(0)" class="btn btn-outline" style="padding: 6px 20px;margin-right: 5px;">
                                                <!-- <i class="fas fa-eye"></i> -->
                                                <span style="font-size: 14px;text-transform: none;">Tanlash</span>
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <br>
                            <br>
                            <ul class="author-meta">
                                <li title="Rasmiylashitirish">
                                    <!-- <i class="fab fa-readme"></i> -->
                                    <span>Rasmiylashitirish</span>
                                </li>

                                <!-- <i class="fas fa-share-alt"></i> -->
                                <!-- <li title="Total Share">
                                    <span>Bir martalik to'lovda xarid qilish</span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================
            PRODUCT VIEW END
=======================================-->



<!--=====================================
            CHECKOUT PART START
=======================================-->
<section class="inner-section checkout-part">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <!-- <div class="col-lg-12">
                <div class="alert-info">
                    <p>Returning customer? <a href="login.html">Click here to login</a></p>
                </div>
            </div> -->
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Buyurtmalar</h4>
                        <a href="#" class="btn btn-outline"> +Qo'shish</a>
                    </div>
                    <div class="account-content">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                <tr>
                                    <th scope="col">Serial</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">brand</th>
                                    <th scope="col">quantity</th>
                                    <th scope="col">action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="table-serial"><h6>01</h6></td>
                                    <td class="table-image"><img src="/images/product/01.jpg" alt="product"></td>
                                    <td class="table-name"><h6>product name</h6></td>
                                    <td class="table-price"><h6>$19<small>/kilo</small></h6></td>
                                    <td class="table-brand"><h6>Fresh Company</h6></td>
                                    <td class="table-quantity"><h6>3</h6></td>
                                    <td class="table-action">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-serial"><h6>02</h6></td>
                                    <td class="table-image"><img src="/images/product/02.jpg" alt="product"></td>
                                    <td class="table-name"><h6>product name</h6></td>
                                    <td class="table-price"><h6>$19<small>/kilo</small></h6></td>
                                    <td class="table-brand"><h6>Radhuni Masala</h6></td>
                                    <td class="table-quantity"><h6>5</h6></td>
                                    <td class="table-action">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-serial"><h6>03</h6></td>
                                    <td class="table-image"><img src="/images/product/03.jpg" alt="product"></td>
                                    <td class="table-name"><h6>product name</h6></td>
                                    <td class="table-price"><h6>$19<small>/kilo</small></h6></td>
                                    <td class="table-brand"><h6>Pran Prio</h6></td>
                                    <td class="table-quantity"><h6>2</h6></td>
                                    <td class="table-action">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-serial"><h6>04</h6></td>
                                    <td class="table-image"><img src="/images/product/04.jpg" alt="product"></td>
                                    <td class="table-name"><h6>product name</h6></td>
                                    <td class="table-price"><h6>$19<small>/kilo</small></h6></td>
                                    <td class="table-brand"><h6>Real Food</h6></td>
                                    <td class="table-quantity"><h6>3</h6></td>
                                    <td class="table-action">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-serial"><h6>05</h6></td>
                                    <td class="table-image"><img src="/images/product/05.jpg" alt="product"></td>
                                    <td class="table-name"><h6>product name</h6></td>
                                    <td class="table-price"><h6>$19<small>/kilo</small></h6></td>
                                    <td class="table-brand"><h6>Rdhuni Company</h6></td>
                                    <td class="table-quantity"><h6>7</h6></td>
                                    <td class="table-action">
                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="chekout-coupon">
                            <button class="coupon-btn">Sizda kupon kod bormi?</button>
                            <form class="coupon-form">
                                <input type="text" placeholder="Kupon kodni kiriting">
                                <button type="submit"><span>Tasdiqlash</span></button>
                            </form>
                        </div>
                        <div class="checkout-charge">
                            <ul>
                                <li>
                                    <span>Yetkazib beruvchi</span>
                                    <span>Mediapark</span>
                                </li>
                                <li>
                                    <span>mahsulot narxi</span>
                                    <span>$267.45</span>
                                </li>
                                <li>
                                    <span>BTS yetkazib berish</span>
                                    <span>$10.00</span>
                                </li>
                                <li>
                                    <span>Chegirma</span>
                                    <span>$00.00</span>
                                </li>
                                <li>
                                    <span>Jami to'lov<small></small></span>
                                    <span>$277.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>To'lov usulini tanlang</h4>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule active d-flex justify-content-between align-items-center">
                                    <img src="/images/product/01.jpg" style="border-radius: 5px;" height="50px" width="50px" alt="">
                                    <h6 style="margin-bottom: 0;">
                                        Payme orqali to'lov
                                    </h6>
                                    <!-- <p>90 min express delivery</p> -->
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule d-flex justify-content-between align-items-center">
                                    <img src="/images/product/01.jpg" style="border-radius: 5px;" height="50px" width="50px" alt="">
                                    <h6 style="margin-bottom: 0;">UZCARD va HUMO </h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule d-flex justify-content-between align-items-center">
                                    <img src="/images/product/01.jpg" style="border-radius: 5px;" height="50px" width="50px" alt="">
                                    <h6 style="margin-bottom: 0;">
                                        Olgandan keyin naqd pul
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule d-flex justify-content-between align-items-center">
                                    <img src="/images/product/01.jpg" style="border-radius: 5px;" height="50px" width="50px" alt="">
                                    <h6 style="margin-bottom: 0;">
                                        Olgandan keyin karta orqali
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule d-flex justify-content-between align-items-center">
                                    <img src="/images/product/01.jpg" style="border-radius: 5px;" height="50px" width="50px" alt="">
                                    <h6 style="margin-bottom: 0;">
                                        Karta orqali
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div  data-bs-toggle="modal" data-bs-target="#product-pay" class="profile-card schedule d-flex justify-content-between align-items-center">
                                    <img src="/images/product/01.jpg" style="border-radius: 5px;" height="50px" width="50px" alt="">
                                    <h6 style="margin-bottom: 0;" >
                                        Muddatli to'lov</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Qabul qilish usuli</h4>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 alert fade show">
                                <div class="profile-card schedule active">
                                    <h6>Yetkazib berish</h6>
                                    <p>Buyurtmangiz 3 ish kunida yetkaziladi</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 alert fade show">
                                <div class="profile-card schedule">
                                    <h6>Do'kondan olib ketish</h6>
                                    <p>Buyurtmangizni joyidan olib ketishingiz mumkin</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <form class=" row">

                                    <div class="form-group col-6">
                                        <label class="form-label"><b class="text-danger">*</b>Viloyat</label>
                                        <select class="form-select">
                                            <option selected>choose title</option>
                                            <option value="home">home</option>
                                            <option value="office">office</option>
                                            <option value="Bussiness">Bussiness</option>
                                            <option value="academy">academy</option>
                                            <option value="others">others</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="form-label"><b class="text-danger">*</b>Tuman (Shahar)</label>
                                        <select class="form-select">
                                            <option selected>choose title</option>
                                            <option value="home">home</option>
                                            <option value="office">office</option>
                                            <option value="Bussiness">Bussiness</option>
                                            <option value="academy">academy</option>
                                            <option value="others">others</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-8">
                                        <label class="form-label"><b class="text-danger">*</b>Manzil(MFY, Ko'cha nomi) </label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label class="form-label"><b class="text-danger">*</b>Uy raqami(qavat) </label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label">Mo'ljal </label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label">Yetkazib berish vaqti </label>
                                        <input class="form-control" type="date" value="">
                                    </div>

                                    <!-- <button class="form-btn" type="submit">save address info</button> -->
                                </form>
                            </div>
                            <!-- <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule">
                                    <h6>Next day</h6>
                                    <p>Next day or Tomorrow</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Buyurtmani qabul qiluvchi</h4>
                        <!-- <button data-bs-toggle="modal" data-bs-target="#contact-add">telefon raqam qo'shish</button> -->
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 alert fade show">
                                <div class="profile-card contact active">
                                    <h6 style="margin-bottom: 0;">O'zim qabul qilaman</h6>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 alert fade show">
                                <div class="profile-card contact">
                                    <h6 style="margin-bottom: 0;">Boshqa odam</h6>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <form class=" row">



                                    <div class="form-group col-lg-6">
                                        <label class="form-label"> <b class="text-danger">*</b>FIO</label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label"><b class="text-danger">*</b>Telefon </label>
                                        <input class="form-control" type="text" value="+998997025312">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label"> <b class="text-danger">*</b>Qo'shimcha raqam </label>
                                        <input class="form-control" type="text" value="">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label">EMAIL </label>
                                        <input class="form-control" type="email" required value="">
                                    </div>

                                    <!-- <button class="form-btn" type="submit">save address info</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Telefon raqam</h4>
                        <button data-bs-toggle="modal" data-bs-target="#contact-add">telefon raqam qo'shish</button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card contact active">
                                    <h6>primary</h6>
                                    <p>+8801838288389</p>
                                    <ul>
                                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit"></button></li>
                                        <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card contact">
                                    <h6>secondary</h6>
                                    <p>+8801941101915</p>
                                    <ul>
                                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit"></button></li>
                                        <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card contact">
                                    <h6>secondary</h6>
                                    <p>+8801747875727</p>
                                    <ul>
                                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit"></button></li>
                                        <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Manzilinggizni kitriting</h4>
                        <button data-bs-toggle="modal" data-bs-target="#address-add">Manzil qo'shish</button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address active">
                                    <h6>Home</h6>
                                    <p>jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A</p>
                                    <ul class="user-action">
                                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit"></button></li>
                                        <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address">
                                    <h6>Office</h6>
                                    <p>east tejturi bazar, dhaka-1200. word no-04, road no-13/c, house no-4/b</p>
                                    <ul class="user-action">
                                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit"></button></li>
                                        <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address">
                                    <h6>Bussiness</h6>
                                    <p>kawran bazar, dhaka-1100. word no-02, road no-13/d, house no-7/m</p>
                                    <ul class="user-action">
                                        <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit"></button></li>
                                        <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Delivery Schedule</h4>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule active">
                                    <h6>express</h6>
                                    <p>90 min express delivery</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule">
                                    <h6>8am-10pm</h6>
                                    <p>8.00 AM - 10.00 PM</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card schedule">
                                    <h6>Next day</h6>
                                    <p>Next day or Tomorrow</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12">
                <div class="account-card mb-0">
                    <!-- <div class="account-title">
                        <h4>payment option</h4>
                        <button data-bs-toggle="modal" data-bs-target="#payment-add">add card</button>
                    </div> -->
                    <div class="account-content">
                        <div class="row">
                            <!-- <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="payment-card payment active">
                                    <img src="/images/payment/png/01.png" alt="payment">
                                    <h4>card number</h4>
                                    <p>
                                        <span>****</span>
                                        <span>****</span>
                                        <span>****</span>
                                        <sup>1876</sup>
                                    </p>
                                    <h5>miron mahmud</h5>
                                    <button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="payment-card payment">
                                    <img src="/images/payment/png/02.png" alt="payment">
                                    <h4>card number</h4>
                                    <p>
                                        <span>****</span>
                                        <span>****</span>
                                        <span>****</span>
                                        <sup>1876</sup>
                                    </p>
                                    <h5>miron mahmud</h5>
                                    <button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="payment-card payment">
                                    <img src="/images/payment/png/03.png" alt="payment">
                                    <h4>card number</h4>
                                    <p>
                                        <span>****</span>
                                        <span>****</span>
                                        <span>****</span>
                                        <sup>1876</sup>
                                    </p>
                                    <h5>miron mahmud</h5>
                                    <button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="checkout-check">
                        <input type="checkbox" id="checkout-check">
                        <label for="checkout-check">
                            Buyurtmani tasdiqlash orqali men
                            <a href="#">Foydalanuvchi shartnomasi</a> qabul qilaman.</label>
                    </div>
                    <div class="checkout-proced">
                        <a href="invoice.html" class="btn btn-inline">Xaridni rasmiylashtirish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            CHECKOUT PART END
=======================================-->


<!--=====================================
            MODAL ADD FORM START
=======================================-->
<!-- contact add form -->
<div class="modal fade" id="contact-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>add new contact</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">title</label>
                    <select class="form-select">
                        <option selected>choose title</option>
                        <option value="primary">primary</option>
                        <option value="secondary">secondary</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">number</label>
                    <input class="form-control" type="text" placeholder="Enter your number">
                </div>
                <button class="form-btn" type="submit">save contact info</button>
            </form>
        </div>
    </div>
</div>

<!-- address add form -->
<div class="modal fade" id="address-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>add new address</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">title</label>
                    <select class="form-select">
                        <option selected>choose title</option>
                        <option value="home">home</option>
                        <option value="office">office</option>
                        <option value="Bussiness">Bussiness</option>
                        <option value="academy">academy</option>
                        <option value="others">others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">address</label>
                    <textarea class="form-control" placeholder="Enter your address"></textarea>
                </div>
                <button class="form-btn" type="submit">save address info</button>
            </form>
        </div>
    </div>
</div>

<!-- payment add form -->
<div class="modal fade" id="payment-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>add new payment</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">card number</label>
                    <input class="form-control" type="text" placeholder="Enter your card number">
                </div>
                <button class="form-btn" type="submit">save card info</button>
            </form>
        </div>
    </div>
</div>
<!--=====================================
            MODAL ADD FORM END
=======================================-->


<!--=====================================
            MODAL EDIT FORM START
=======================================-->
<!-- contact edit form -->
<div class="modal fade" id="contact-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>edit contact info</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">title</label>
                    <select class="form-select">
                        <option value="primary" selected>primary</option>
                        <option value="secondary">secondary</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">number</label>
                    <input class="form-control" type="text" value="+8801838288389">
                </div>
                <button class="form-btn" type="submit">save contact info</button>
            </form>
        </div>
    </div>
</div>

<!-- address edit form -->
<div class="modal fade" id="address-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>edit address info</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">title</label>
                    <select class="form-select">
                        <option value="home" selected>home</option>
                        <option value="office">office</option>
                        <option value="Bussiness">Bussiness</option>
                        <option value="academy">academy</option>
                        <option value="others">others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">address</label>
                    <textarea class="form-control" placeholder="jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A"></textarea>
                </div>
                <button class="form-btn" type="submit">save address info</button>
            </form>
        </div>
    </div>
</div>
<!--=====================================
            MODAL EDIT FORM END
=======================================-->


<!--=====================================
            NEWSLETTER PART START
=======================================-->
<section class="news-part" style="background: url(/images/newsletter.jpg) no-repeat center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Get 20% Discount for Subscriber</h2>
                    <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="Enter Your Email Address">
                    <button><span><i class="icofont-ui-email"></i>Subscribe</span></button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            NEWSLETTER PART END
=======================================-->


<!--=====================================
            INTRO PART START
=======================================-->
<section class="intro-part">
    <div class="container">
        <div class="row intro-content">
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="intro-content">
                        <h5>free home delivery</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                    <div class="intro-content">
                        <h5>instant return policy</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="intro-content">
                        <h5>quick support system</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="intro-content">
                        <h5>secure payment way</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            INTRO PART END
=======================================-->


<!--=====================================
             FOOTER PART START
=======================================-->
<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <a class="footer-logo" href="#">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                    <p class="footer-desc">Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam assumenda dolor perspiciatis sit ipsum dolor amet.</p>
                    <ul class="footer-social">
                        <li><a class="icofont-facebook" href="#"></a></li>
                        <li><a class="icofont-twitter" href="#"></a></li>
                        <li><a class="icofont-linkedin" href="#"></a></li>
                        <li><a class="icofont-instagram" href="#"></a></li>
                        <li><a class="icofont-pinterest" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget contact">
                    <h3 class="footer-title">contact us</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="icofont-ui-email"></i>
                            <p>
                                <span>support@greeny.com</span>
                                <span>carrer@greeny.com</span>
                            </p>
                        </li>
                        <li>
                            <i class="icofont-ui-touch-phone"></i>
                            <p>
                                <span>+120 279 532 13</span>
                                <span>+120 279 532 14</span>
                            </p>
                        </li>
                        <li>
                            <i class="icofont-location-pin"></i>
                            <p>1Hd- 50, 010 Avenue, NY 90001 United States</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">quick Links</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Best Seller</a></li>
                            <li><a href="#">New Arrivals</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Carrer</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Download App</h3>
                    <p class="footer-desc">Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi autem obcaecati minus ducimus totam reprehenderit exercitationem!</p>
                    <div class="footer-app">
                        <a href="#"><img src="/images/google-store.png" alt="google"></a>
                        <a href="#"><img src="/images/app-store.png" alt="app"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copytext">&copy;  All Copyrights Reserved by <a target="_blank" href="https://themeforest.net/user/mironcoder">Mironcoder</a></p>
                    <div class="footer-card">
                        <a href="#"><img src="/images/payment/jpg/01.jpg" alt="payment"></a>
                        <a href="#"><img src="/images/payment/jpg/02.jpg" alt="payment"></a>
                        <a href="#"><img src="/images/payment/jpg/03.jpg" alt="payment"></a>
                        <a href="#"><img src="/images/payment/jpg/04.jpg" alt="payment"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--=====================================
              FOOTER PART END
=======================================-->


<!--=====================================
            JS LINK PART START
=======================================-->
<!-- VENDOR -->
<script src="/vendor/bootstrap/jquery-1.12.4.min.js"></script>
<script src="/vendor/bootstrap/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/vendor/countdown/countdown.min.js"></script>
<script src="/vendor/niceselect/nice-select.min.js"></script>
<script src="/vendor/slickslider/slick.min.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>

<!-- CUSTOM -->
<script src="/js/nice-select.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/accordion.js"></script>
<script src="/js/venobox.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/main.js"></script>
<!--=====================================
            JS LINK PART END
=======================================-->
</body>
</html>