<!DOCTYPE html>
<html lang="en">
<head>
    <!--=====================================
                META TAG PART START
    =======================================-->
    <!-- REQUIRE META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- AUTHOR META -->
    <meta name="author" content="mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">

    <!-- TEMPLATE META -->
    <meta name="name" content="Greeny">
    <meta name="title" content="Greeny - eCommerce HTML Template">
    <meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store">
    <!--=====================================
                META-TAG PART END
    =======================================-->

    <!-- WEBPAGE TITLE -->
    <title> <%= title %> </title>

    <!--=====================================
                CSS LINK PART START
    =======================================-->
    <!-- FAVICON -->
    <link rel="icon" href="/images/Bazars_logo-removebg-preview.png">

    <!-- FONTS -->
    <link rel="stylesheet" href="/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/fonts/icofont/icofont.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/fontawesome.min.css">

    <!-- VENDOR -->
    <link rel="stylesheet" href="/vendor/venobox/venobox.min.css">
    <link rel="stylesheet" href="/vendor/slickslider/slick.min.css">
    <link rel="stylesheet" href="/vendor/niceselect/nice-select.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/compare.css">

    <link rel="stylesheet" href="/css/product-details.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="stylesheet" href="/css/home-standard.css">
    <link rel="stylesheet" href="/css/blog-details.css">

    <link rel="stylesheet" href="/css/profile.css">
    <!-- CUSTOM -->
    <link rel="stylesheet" href="/css/blog-author.css">
    <style>
        .table-name p{
            max-width: 200px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .faq-que td, .faq-que tr{
            border: none !important;
            text-align: start !important;
        }
        .faq-que .table {
            padding: 0px 20px !important;
            border-collapse: initial;
            margin-bottom: 10px;
        }
        .faq-que .table>:not(caption)>*>* {
            padding: 0.2rem 0.5rem 0rem .5rem;}
        .faq-child{
            border: none;
        }
    </style>
    <style>
        .suggest-slider li {
            margin: 0px 10px;
        }
        .banner-content h2{
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .brand-media::before{
            width: 120%;
            height: 120%;
        }
        .brand-meta h4{
            font-size: .7rem !important;
            line-height: 1rem;
            font-weight: 300;
        }
    </style>
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>