<div class="col-lg-3 card">

    <div class="checkout-charge" style="width: auto;margin: initial;">
        <ul>
            <li style="font-size: small;">
                <a href="/user/profile" class="link-secondary">Shaxsiy ma'lumotlar </a>
            </li>
            <li style="font-size: small;">
                <a href="/user/orders" class="link-secondary">Buyurtmalar</a>
                <!-- <span>11 000 000 so'm</span> -->
            </li>
            <li style="font-size: small;">
                <a href="/user/program" class="link-secondary">sodiqlik dasturi</a>
                <!-- <span>16 000 000/12oy</span> -->
            </li>
            <li style="font-size: small;">
                <a href="/user/history" class="link-secondary">To'lovlar tarixi</a>
                <!-- <span>1 000 000</span> -->
            </li>
            <li style="font-size: small;">
                <a class="link-secondary" href="/user/returned">Qaytarilganlar</a>
                <!-- <span>1 000 000</span> -->
            </li>
            <li >
                <a href="/sign/out" style="font-size: small;color: #f00;">Chiqish<small></small></a>
                <!-- <span style="font-size: small;">10 000 000 so'm</span> -->
            </li>
        </ul>
    </div>
</div>